.obal {
   font-family: 'Montserrat', sans-serif; 
   text-align: center;
}
.happy {
    padding: 60px 75px 0 75px; 
    height: 290px;
    width: 350px;
}
h1 {
    font-size: 28px;
    padding: 0 155px;
    color: #000000;
}
p {
    color: #8B8B8B;
    font-size: 16px;
 }
.kontejner1 {
    display: flex;
    flex-direction: column;
} 
.button {  
    color: #FFFFFF;
    font-size: 14px; 
    border-style: none;
    border-radius: 20px; 
    background-color: #407BFF;
    padding: 10px 30px;

}
.button-secondary {
    background-color: #8B8B8B; 
    margin-top: 10px;
}

h2 {
    font-size: 16px; 
    color: #000000;
}
img {
    width: 45px;
    height: 40px;
    padding: 20px;
}
.textMap,
.textCactus,
.textPlane,
.textPalm,
.textUmbrella,
.textRv {
    padding: 30px 20px 20px 10px;
}
.sluzby,
.delegati {
    padding-top: 60px;
}
.kontejnerMap,
.kontejnerCactus,
.kontejnerPlane,
.kontejnerPalm,
.kontejnerUmbrella,
.kontejnerRv {
    border-radius: 10px;
    box-shadow: 0 4px 6px #407BFF1F;
    padding-top: 15px;
    color: #8B8B8B;
    display: flex;
}
.kontejnerSluzby,
.kontejnerDelegati {
    display:flex;
    flex-direction: column;
}
@media screen and (min-width: 640px){
.kontejnerSluzby,
.kontejnerDelegati {
    display: flex;
}
.kontejnerMap,
.kontejnerCactus,
.kontejnerPlane,
.kontejnerPalm,
.kontejnerUmbrella,
.kontejnerRv {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
img {
    align-self: center;
}




}
