.obal {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 20px;
}
.responsive {
  width: 100%;
}
.header-image {
  margin: auto;
  padding: 60px 75px 0 75px;
}
h1 {
  font-size: 28px;
  color: #000000;
}
.linka {
    border: 1px solid #407BFF;
    width: 60px;
    align-self: center;
}
p {
  color: #8b8b8b;
  font-size: 16px;
}
.kontejner1 {
  display: flex;
  flex-direction: column;
}
.button {
  color: #ffffff;
  font-size: 14px;
  border-style: none;
  border-radius: 20px;
  background-color: #407bff;
  padding: 10px 30px;
  display: block;
  margin: auto;
}
.button-secondary {
  background-color: #8b8b8b;
  margin-top: 10px;
}
.tlacitka {
  padding-top: 30px;
}

h2 {
  font-size: 16px;
  color: #000000;
}
.img-icon {
  width: 45px;
  height: 40px;
  padding: 20px;
}
.card-text {
  padding: 30px 20px 20px 10px;
font-size: 13px;
}
.sluzby,
.delegati {
  padding-top: 60px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px #407bff1f;
  padding-top: 15px;
  color: #8b8b8b;
  display: flex;
  align-items: center;
}
.kontejner {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .obal {
    margin: 0 20px;
  }
  p {
    padding: 0 90px;
  }
  .button {
    display: inline-block;
  }
  .button-secondary {
    margin-left: 20px;
  }

  .kontejner {
    display: flex;
    flex-direction: row;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin: 15px;
  }
  .img-icon {
    align-self: center;
    padding: 40px 0 20px 0;
  }
  .card-text {
    padding: 20px 15px;
  }
}
@media screen and (min-width: 1100px) {
  .obal {
    margin: 60px 80px;
  }
  h1,
  h2 {
    text-align: left;
  }
  .linka {
    align-self: baseline;
  }
  p {
    text-align: left;
    padding: 0;
  }
  .tlacitka {
      text-align: left;
  }
  .horni {
    display: flex;
  }
  .header-image {
    order: 1;
    padding: 0 0 0 90px;
    margin: auto;
    width: 426px;
    flex-shrink: 0;
  }

  .sluzbyHorni {
    order: 1;
  }

  .sluzby,
  .delegati {
    display: flex;
  }
  .card {
      width: 170px;
  }
}
